h1{
    color:lightblue
}
#wrapper {
    width: 800px;
    margin: 0 auto;
}
/* wrapper: 整個版面水平置中, 上下margin為0, 左右auto, 那就置中了*/
#banner {
    width:800px;
    height:150px;
    background-color:plum;
    clear:both;
}
#nav { 
    width:125px;
    background-color: palegoldenrod;
    float:left;
}
#content {
    width:550px;
    float:left;
}
#supporting {
    width:125px;
    height:200px;
    background-color:powderblue;
    float:right;
}
#footer {
    width:800px;
    height:50px;
    background-color:pink;
    clear:both;
}
/* float: 由左而右排版 */
/* clear: 左右兩邊不可排版(不往留白處塞) */